{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.jsonc",
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "proseWrap": "always"
      }
    }
  ]
}
